*.class
*.log
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

hs_err_pid*
replay_pid*

*.ctxt
.mtj.tmp/

.idea/
*.iml
out/

.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

target/

.DS_Store
Thumbs.db

test-output/
